---
// import ArrowUpRight from '../components/ArrowUpRight.astro';
import Layout from '../layouts/Default.astro'; 
import Avatar from '../components/Avatar.astro'; 
import ThemeToggle from '../components/ThemeToggle.astro'

const posts = await Astro.glob('../pages/posts/*.md')
// const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft)
const sortedPosts = posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<Layout title="Ryan Weston">
  <div class="mt-[25vh]">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row space-x-5">
        <Avatar/>
        <div class="flex flex-col">
          <h1 class="text-base font-medium">Ryan Weston</h1>
          <h2 class="text-base">Engineer & designer</h2>
        </div> 
      </div> 
      <ThemeToggle />
    </div>
    <div class="space-y-8 mt-10 text-base">
    <p>
      I'm an engineer & designer with a passion for design systems, problem solving
      & writing. I'm currently working as a frontend engineer at Cudo Ventures, working on <a href="https://cudocompute.com" target="_blank" class="border-b border-white hover:bg-white/20">Cudo Compute</a>.
    </p>
    <p>
      In my spare time I work on building <a class="border-b border-black hover:bg-black/10 dark:border-white dark:hover:bg-white/20">Predictable</a>, a social football league prediction application. When I’m not building,
      I’m obsessing over the details of <a href="https://unlocked.to" target="_blank" class="border-b border-white hover:bg-white/20">Unlocked</a>, a design system built for design systems.
    </p>
    <!-- <div class="flex flex-row space-x-3 text-base">
      <a class="hover:bg-white/20 space-x-2">Twitter <ArrowUpRight/></a>
      <a class="hover:bg-white/20 space-x-2">GitHub <ArrowUpRight/></a>
      <a class="hover:bg-white/20 space-x-2">Instagram <ArrowUpRight/></a>
    </div> -->
  </div>
    <ul role="list" class="border-dashed border-t border-black/30 dark:border-white/30 mt-10 text-base">
      { sortedPosts.map((post) => 
        <li class="py-4 space-y-4 border-dashed border-b border-black/30 dark:border-white/30">
          <a href={post.url} class="flex flex-row justify-between space-x-6">
            <h4 class="">{post.frontmatter.title}</h4>
            <p>{new Date(post.frontmatter.pubDate).toLocaleDateString('en-UK')}</p>
          </a>
        </li>
      )}
    </ul>
  </div>
</Layout>

