---
import Avatar from "./Avatar.astro";

---

<div class="flex flex-row py-8 items-center justify-center space-x-4">
  <Avatar/>
  <!-- <p class="text-sm font-normal">Ryan Weston</p> -->
  <!-- <p class="text-sm font-medium"></p> -->
</div>