---
import Avatar from "./Avatar.astro";

---

<div class="flex flex-row py-8 items-center justify-center space-x-4">
  <a href="/" class="hover:opacity-70"><Avatar/></a>
  <!-- <p class="text-sm font-normal">Ryan Weston</p> -->
  <!-- <p class="text-sm font-medium"></p> -->
</div>