<div class="flex flex-row py-8 items-center justify-center space-x-4">
  <a href="/" class="h-12 w-12 rounded-full bg-sky-100 hover:bg-sky-200"/>
  <!-- <p class="text-sm font-normal">Ryan Weston</p> -->
  <!-- <p class="text-sm font-medium"></p> -->
</div>