---
export interface Props {
	title: string;
  desc: string
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<title>{title}</title>
    <meta name="description" content={desc} />
    <script is:inline>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
	</head>
	<body class="cursor-crosshair dark:text-white dark:bg-zinc-900 font-light">
    <main class="max-w-xl mx-auto pb-24 px-8 md:px-0">
      <slot />
    </main>
	</body> 
</html>

