---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
---

<Layout title={frontmatter.title}>
  <div class="space-y-8">
    <a href="/" class="font-medium text-sm">Back</a>
    <div class="space-y-12">
      <div class="space-y-8">
        <div class="space-x-4 flex flex-row items-center opacity-60">
          <p class="border-l-2 font-medium border-[var(--foreground)] pl-3 text-sm text-[var(--foreground)]">{new Date(frontmatter.pubDate).toLocaleDateString('en-US', options)}</p>
        </div>
        <h1 class="text-5xl font-medium">{frontmatter.title}</h1>   
        
      </div>
      <div class="space-y-8 font-light font-blog">
        <slot />
      </div>
    </div>
  </div>
</Layout>


