---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
---

<Layout title={frontmatter.title} readerMode>
  <div class="space-y-12">
    <a href="/" class="font-medium">Back</a>
    <div class="space-y-4">
      <h1 class="text-6xl font-semibold">{frontmatter.title}</h1>    
      <p class="font-medium">{new Date(frontmatter.pubDate).toLocaleDateString('en-US', options)}</p>
    </div>
    <div class="space-y-4 text-xl font-blog">
      <slot />
    </div>
  </div>
</Layout>


